#admin{
  background-color: #92db94;
  background-image: url("./Images/admin.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border: 5px solid #ec0b0b;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 20%;

}